a {
    text-decoration: none;
}

.text-web {
    color: #4d5ae5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

}

.text-studio {
    color: #2E2F42;
    width: 71px;
    height: 21px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}

.footer {
    background-color: #2E2F42;
    color: #fff;
}

.text-studio-footer {
    color: #f4f4fd;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    padding-top: 100px;
}