:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-corporated: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

body {
    font-family: var(--primary-font), (--secondary-font);
    color: var(--color-corporated);
}

.line {
    text-decoration: none;
}

.text-web {
    color: var(--color-iris);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.text-studio {
    color: var(--color-corporated);
    width: 71px;
    height: 21px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.list {
    list-style-type: none;
}

.list-menu>a {
    color: var(--color-corporated);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.list-menu>a:hover,
.list-menu>a:focus {
    color: var(--color-ocean);
}

.address {
    color: var(--color-slate);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.address:hover,
.address:focus {
    color: var(--color-ocean);
}

.section-hero {
    background-color: var(--color-corporated);
    color: var(--color-white);
    height: 600px;
}

.text-header {
    font-family: var(--primary-font);
    font-weight: 700;
    size: 56px;
    line-height: 1.07;
}

.button-order {
    background: var(--color-iris);
    color: var(--color-white);
    border-radius: 4px;
    width: 169px;
    height: 56px;
    size: 16px;
    line-height: 1.33;
    cursor: pointer;
}

.button-order:hover,
.button-order:focus {
    background: var(--color-ocean);
    color: var(--color-white);
}

.second-header {
    color: var(--color-corporated);
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.third-header {
    color: var(--color-corporated);
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.text-item {
    color: var(--color-corporated);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.button-filters {
    background-color: var(--color-cloud);
    color: var(--color-iris);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.button-filters:hover,
.button-filters:focus {
    background-color: var(--color-cornflower);
    color: var(--color-iris);
}

.button-filters:active {
    background-color: var(--color-ocean);
    color: var(--color-white);
}

.footer {
    Height: 312px;
    background-color: var(--color-corporated);
}


.text-web-footer {
    color: var(--color-iris);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

}

.text-studio-footer {
    color: var(--color-cloud);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}

.text-footer {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-cloud);

}