.header {}

.logo-header {}

a {
    text-decoration: none;
}

.text-web {
    color: #4d5ae5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

}

.text-studio {
    color: #2E2F42;
    width: 71px;
    height: 21px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}

.body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.section-header {
    background-color: #2E2F42;
    color: #fff;
    height: 600px;
}

.footer {
    Height: 312px;
    background-color: #2E2F42;
}


.text-web-footer {
    color: #4d5ae5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

}

.text-studio-footer {
    color: #f4f4fd;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}

.text-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f4fd;
    margin: 16px auto 100px 156px;

}